body {
    
    background-image: url("https://images.alphacoders.com/203/203543.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}

.container-body {

    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.item {

    background-color: red;
    height: 100px;
    width: 100px;

}

.empresa-container {
    display: flex;
    justify-content: start;
    align-items: end;
}

.empresa{
  
    height: 150px;
    width: auto;
    padding: 15px;
}

.container-logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo{

    height: 600px;
    width: auto;
    padding: 15px;

}

.container-logo h1{

    color: white;
}

.container-botoes{

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 300px;
    
}

.container-botoes button{

    width: 200px;
    padding: 5px;
    font-size: 25px;

    background: transparent;
    color: white;

    border: none;
    border-radius: 10px;

}


